<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<br>
<%= link_to 'New Post', new_post_path %>
<br><br>
    <% @posts.reverse_each do |post| %>
      <div class="feed">
        <p class="feedposts"><%= post.content %><br>
          <%= post.created_at.to_s(:time) %><br>
          <%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
      <br>
    <% end %>
  





